<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order your pizza</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div id="container">
    <% pizzasList.forEach(function(pizza) { %>
      <div class="pizza-card">
        <img class="image-class" src="/<%=pizza.name%>.jpg">
        <form id="<%= pizza.id%>" action="http://127.0.0.1:9001/myorder" method="post">
          <h1>
            <%= pizza.name %>
          </h1>
          <h2>
            <%= pizza.ingredients %>
          </h2>
          <h3>allergens <%= pizza.allergens %>
          </h3>
          <h4>price <%= pizza.price %>
          </h4>
          <input name="pizza" value="<%= pizza.id%>" type="hidden">
          <input name="number" type="number" value="1" min="1">
          <button type="submit" class="add-to-cart">Add to cart</button>
        </form>
      </div>
      <% }); %>
  </div>

</body>

</html>